html{
    width: 99%;
    height: 99%;
}

body {
    width: 99%;
    height: 99%;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}

.hidden {
    display: none;
}

#menu{ 
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

#dialog, #dialogLevel1, #levelSelect, #game { 
    display: none;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

#menu h1{
    text-align: center;
    width: 100%;
    font-size: 4rem;
}

#menu button {
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    margin: 1rem;
    font-family: 'Press Start 2P', cursive;
}

#dialogContent, #dialogLevel1Content {
    text-align: center;
    width: 75%;
    font-size: 1rem;
}

#dialog button {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    margin: 1rem;
    font-family: 'Press Start 2P', cursive;
}

#dialogLevel1 button {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    margin: 1rem;
    font-family: 'Press Start 2P', cursive;
}

#levelSelect h2{
    text-align: center;
    width: 100%;
    font-size: 4rem;
}

#levelSelect button {
    width: 12rem;
    height: 5rem;
    font-size: 1rem;
    margin: 1rem;
    font-family: 'Press Start 2P', cursive;
}

#game button {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    margin: 0.5rem;
    font-family: 'Press Start 2P', cursive;
}

#score{
    width: 100%;
    text-align: center;
}

#controls2{
    width: 100%;
    text-align: center;
}

#controls button {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    font-family: 'UnifrakturCook', static;
}

#snakeGame {
    width: 75%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
}